.jumbotron{
    margin-top: 200px;
    background-color: #F6C72E;
    color: #FFFFFF;
}

hr{
    height: 6px;
    border: 1px solid #40BFCB;
    border-radius: 7px 7px 7px 7px;
    background-color: #40BFCB;
}

h1{
    font-size: 66.5px;
    font-family: 'Alfa Slab One' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 81px;
    letter-spacing: 1px;
}
body{
    background-color: #566371;
}

.btn{
    background-color: #40BFCB;
    border: none;
}
